body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/lilypads.png");
    width: 100%;
}

.random {
    font-size: 50px;
    color: black;
}

.col-md-4 {
    font-size: 125%;
}


.col-md-6 {
   
    color: white;
    font-size: 55px;
    float: left;
    
}

.col-md-7 {
    font-size: 120%;
}

.score {
    color: white;
    font-size: 40px;
}

.box {
    color: white;
    font-size: 20px;
    }

  .col-sm-1 {
      margin-right: -2%;
      
  }
 
  .orange {
      padding-top: 2%;
      padding-left: 2%;
  }

  .red {
    padding-top: 2%;
}

.blue {
    padding-top: 2%;
}

.green {
    padding-top: 2%;
}
