body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/lilypads.png");
    width: 960px;
}

.random {
    font-size: 50px;
    color: black;
}

.col-md-6 {
    margin-bottom: 10px;
    color: white;
    width: 20px;
    font-size: 55px;
    float: left;
}



.col-md-7 {
    font-size: 120%;
}

.score {
    color: white;
    font-size: 40px;
}

.box {
    color: white;
    font-size: 20px;
    }


